
/* footer */
* {
  box-sizing: border-box;
}
.footer-wrap{

  bottom: 0px;
  width: 100%;
  background: #24262b;
  color: white;
  padding: 40px  ;
  overflow: hidden;
}

.footer-logo-container{
text-align: left;
}

.footer-logo{
  height: 26px
}
/* footer-information */



.footer-row{
  display :flex;
  flex-wrap: wrap;
  margin-top:20px
}
.footer-row .col{
  flex-basis: 25%;
  padding-bottom: 40px;
}



.footer-row .col .footer-info h2 {
  display: inline-block;
  color: #85ff7b;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
  transition: border-bottom 0.2s ease;
}

.footer-row .col .footer-info h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #85ff7b;
  transition: width 0.2s ease;
}

.footer-row .col .footer-info h2:hover::after {
  width: 120%;  /* 20% 증가 */
}


.footer-row .col .footer-content p {
  font-size: 14px;
  color: #85ff7b;
  padding: 5px 0;
  font-weight: bold;
}



.footer-row .col .footer-content ul li {
  list-style: none;
  padding: 3px 0;
}



.footer-row .col .footer-content ul li a {
  text-decoration: none;
  color: #8d99ae;
  font-size: 14px;
}



.footer-row .col .footer-content ul li a:hover {
  color: #85ff7b;
  padding-left: 2px;
}


.footer-row .col .footer-content ul li a i {
  color: #85ff7b;
  margin-right: 5px;
}





.footer-row .col .footer-content ul li a:hover {
  color: #85ff7b;
  padding-left: 2px;
}

/* 팀 프로젝트 li 아이콘  */
.footer-row .col .footer-content ul li a i {
  color: #85ff7b;
  margin-right: 5px;
  
}


/* footer bottom */
.footer-bottom {
  font-size: 16px;
  color: #8d99ae;
    
}

.footer-bottom .social ul {
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap : 16px;
}
.footer-bottom .social li {
  list-style: none;
}


.footer-bottom .social li i {
  font-size: 18px;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.3s ease;
}
.footer-bottom .social li i:hover {
  color: #24262b;
  background-color: #85ff7b;
  transform: scale(1.1);
}



.footer-bottom .copyright p {
  
  text-align: right;
  font-size: 12px;
  margin-top:20px

}

.footer-bottom .copyright i {
  color: #8d99ae;
}

/* responsive */
@media (max-width: 795px) {
  .footer-row .col {
    flex-basis: 50%;
  }
}

@media (max-width: 490px) {
  .footer-wrap{
    padding: 40px 10px 10px 20px ;
  }
  .footer-row .col {
    flex-basis: 100%;
  }

}


.micrologo {
  width: 16px;
}


